<div class="grid grid-cols-2 gap-4">

    <!-- <div class="p-4 h-200 "> -->

    <!-- <div class="flex items-center justify-center border-solid border-2 rounded-md">
      <div>
        <div class="w-24 h-24 justify-center rounded-full overflow-hidden">
          <img class="w-30 h-30 rounded-full" src="assets/images/user.png" alt="Large avatar">
        </div>
        <div class="ml-2">
          <p class="text-lg font-bold">John Doe</p>
        </div>
      </div>
    </div> -->

    <div class="w-full  bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <div class="flex justify-end px-4 pt-4">
            <button id="dropdownButton" data-dropdown-toggle="dropdown"
                class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5"
                type="button">
                <span class="sr-only">Open dropdown</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                    viewBox="0 0 16 3">
                    <path
                        d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z" />
                </svg>
            </button>
            <!-- Dropdown menu -->
            <div id="dropdown"
                class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                <ul class="py-2" aria-labelledby="dropdownButton">
                    <li>
                        <a href="#"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Edit</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Export
                            Data</a>
                    </li>
                    <li>
                        <a href="#"
                            class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="flex flex-col items-center pb-10">
            <img class="w-24 h-24 mb-3 rounded-full shadow-lg" src="assets/images/user.png" alt="Miki image" />
            <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">Miki Milane</h5>
            <span class="text-sm text-gray-500 dark:text-gray-400">Student</span>
            <div class="flex mt-4 space-x-3 md:mt-6">
            </div>
        </div>

    </div>

    <div class="p-4 h-200 border-2">
        <!-- Card 2 content -->
        <div class="flex items-center justify-center">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima necessitatibus maiores architecto,
                pariatur
                exercitationem nam hic tenetur saepe ratione quia iste aut, nulla quidem at eligendi placeat. Dicta,
                quaerat
                nobis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem dignissimos quo quam deserunt
                repellat
                nesciunt molestiae quas, consequatur iusto libero tenetur, facilis earum dicta architecto reprehenderit
                aliquid
                velit minima pariatur!Lorem</p>
        </div>
    </div>
    <div class="p-4  h-200 border-2">
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima necessitatibus maiores architecto,
                pariatur
                exercitationem nam hic tenetur saepe ratione quia iste aut, nulla quidem at eligendi placeat. Dicta,
                quaerat
                nobis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem dignissimos quo quam deserunt
                repellat
                nesciunt molestiae quas, consequatur iusto libero tenetur, facilis earum dicta architecto reprehenderit
                aliquid
                velit minima pariatur!Lorem</p>
        </div>
    </div>

    <div class="p-4  h-200 border-2">
        <!-- Card 4 content -->
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima necessitatibus maiores architecto,
                pariatur
                exercitationem nam hic tenetur saepe ratione quia iste aut, nulla quidem at eligendi placeat. Dicta,
                quaerat
                nobis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem dignissimos quo quam deserunt
                repellat
                nesciunt molestiae quas, consequatur iusto libero tenetur, facilis earum dicta architecto reprehenderit
                aliquid
                velit minima pariatur!Lorem</p>
        </div>
    </div>
    <!-- Row 3 -->
    <div class="p-4">
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima necessitatibus maiores architecto,
                pariatur
                exercitationem nam hic tenetur saepe ratione quia iste aut, nulla quidem at eligendi placeat. Dicta,
                quaerat
                nobis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem dignissimos quo quam deserunt
                repellat
                nesciunt molestiae quas, consequatur iusto libero tenetur, facilis earum dicta architecto reprehenderit
                aliquid
                velit minima pariatur!Lorem</p>
        </div>
    </div>
    <div class="p-4">
        <!-- Card 4 content -->
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima necessitatibus maiores architecto,
                pariatur
                exercitationem nam hic tenetur saepe ratione quia iste aut, nulla quidem at eligendi placeat. Dicta,
                quaerat
                nobis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem dignissimos quo quam deserunt
                repellat
                nesciunt molestiae quas, consequatur iusto libero tenetur, facilis earum dicta architecto reprehenderit
                aliquid
                velit minima pariatur!Lorem</p>
        </div>
    </div>
    <!-- Card 5 content -->

    <div class="p-4">
        <!-- Card 6 content -->
    </div>
</div>